# file: postgresql/tasks/users_membership.yml

- name: PostgreSQL | Update the user membership
  postgresql_membership:
    group: "{{item.groups}}"
    db: "{{item.db | default(omit)}}"
    port: "{{postgresql_port}}"
    target_roles: "{{item.name}}"
    state: "{{item.state | default('present')}}"
    fail_on_role: "{{item.fail_on_role | default('yes')}}"
    login_host: "{{item.host | default(omit)}}"
    login_user: "{{postgresql_admin_user}}"
  become: yes
  become_user: "{{postgresql_admin_user}}"
  with_items: "{{postgresql_user_privileges}}"
  when: postgresql_users|length > 0
